<head>
  <meta charset="utf-8"  />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112400982-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-112400982-1');
  </script>
  <!-- End Google Analytics -->
  <link rel="stylesheet" href="{{rootPath}}css/normalize.css">
  <link rel="stylesheet" href="{{rootPath}}css/style.css">
  <meta name="viewport" content="width=device-width">
  <title>{{ title }}</title>
</head>
