<header class="header" role="banner">
  <div class="meta header-meta">
    <div class="header-bakgrunn"></div>

    <div class="header-meta-innhold">
      <div class="header-logo">
      </div>

      <div class="header-apptittel">
        <a href ="/folkeregisteret-api-dokumentasjon">
          <span class="header-applikasjonsnavn">Folkeregisteret</span>
          <span>Api dokumentasjon</span>
        </a>
      </div>
    </div>
  </div>

  <div class="header-sidetittel">
    <h1>
      <span class="header-undertittel">{{ title }}</span>
    </h1>
  </div>
</header>
