<!doctype html>
<html>
{{> head }}
<body>
<div>
  {{> header }}

  <div class="content">
    {{> navigasjon_sideblokk }}

    <div class="data">
      <div class="innhold-blokk">
        <div class="innhold-blokk-innhold">
          {{{contents}}}
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
